<div class="container">

  <div class="brand-section"></div>
  <div class="menu-section">
    <mat-grid-list cols="2" rowHeight="400px">
      <mat-grid-tile *ngFor="let menuItem of menuItems">
        <ion-card>
          <div class="menu-icon-container">
            <img class="menu-icon" src={{menuItem.image_src}} alt={{menuItem.title}} >
          </div>
          
        
          <ion-card-content>
            {{menuItem.title}}
          </ion-card-content>
        </ion-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>